.bg-green {
  background-color: #62cd9f !important;
}
.bg-yellow {
  background-color: #ffcb05 !important;
}
.bg-red {
  background-color: #f76540 !important;
}
.bg-blue {
  background-color: #56c7fa !important;
}
.bg-black {
  background-color: #242424 !important;
}
.text-green {
  color: #62cd9f !important;
}
.text-yellow {
  color: #ffcb05 !important;
}
.text-red {
  color: #f76540 !important;
}
.text-red-dark {
  color: #db4244 !important;
}
.text-blue {
  color: #56c7fa !important;
}
.text-black {
  color: #242424 !important;
}
