.footer{
    .internalfooter{
        background-color: #212121;
        @include rem(padding, 15px 20px);
        align-items: center;
        p{
            @include Fontformat($fontstyle-headline, 14px, $spacing: 1px);
            color: #ffffff;
            margin-bottom: 0;
            -webkit-font-smoothing: auto;
            span{
                font-family: $fontstyle-number;
            }
        }
        img{
            height: fit-content;
            margin-left: auto;
        }
    }
}