.form-groupcheck {
  display: flex;
  align-items: left;
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  label {
    position: relative;
    display: inline;
    align-items: center;
    cursor: pointer;
    @include Fontformat($fontstyle-number, 14px, $spacing: 0.5px, $weight : 500);
    margin: 0;
    color: $labeltext;
    a{
      color: $button;
      text-decoration:underline;
      padding-left: 0px;
    }
  }
}

.form-groupcheck label:before {
  content:'';
  -webkit-appearance: none;
  background-color: $inputbg;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 7px;
}

.form-groupcheck input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: 1px solid $button;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}