//Font Family
$fontstyle-text: "Inter", sans-serif;
$fontstyle-headline: "Inter", sans-serif;
$fontstyle-number: "Inter", sans-serif;

$font-text : 'Inter', sans-serif;
$font-number : 'Inter', sans-serif;

/* Color */

$background-color : #ededed;
$white : #ffffff;

$boldtext : #242424;
$labeltext : #3e3e3e;
$inputbg: #FFFFFF;
$inputborder : #7273d7;
$inputtext : #181818;
$radiofill : #7273d7;
$radioborder : #7273d7;
$button: #7b68ee;
$black : #181818;
$brand-color : #7b68ee;


/* Padding */

$padding : 24px 36px;

